{% extends "base.html" %}
{% load static %}

{% block basket %}

    <a style="margin: 1%" href="/">< Вернуться к сайту</a>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div style="margin: 3%">
                    <h2 style="color: midnightblue">Ваша Корзина
                    {% if not queryset %}
                        пуста
                    {% endif %}
                    </h2>

                    <h6>У вас {{ count }}  товара(ов) в корзине</h6>

                    <br>
                    {% if queryset %}
                        <h4 style="color: midnightblue">Список товаров:</h4>
                    {% endif %}


                    <div>

                        {% for i in queryset %}
                            <div class="card" style="color: #00aced; background-color: lightyellow">
                                <div class="card-header">
                                    {{ i.date }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Товар: {{ i.product_name }}</h5>
                                    <h6 class="card-title">Цена: {{ i.price }}</h6>
                                    <form action="{{ i.get_absolute_url_basket_update }}" method="post" >{% csrf_token %}
                                        <p class="card-text">Количество: <input title="Введите количество" type="number" size="99" name="num" min="1" max="99"
                                        value="{{ i.number }}"> <button type="submit" class="btn btn-primary btn-sm">Save<a href=""></a></button></p>
                                    </form>
                                    <p class="card-text">Всего: </p>
                                    <a href="#" class="btn btn-primary">Оплатить</a>
                                    <a href="{{ i.get_absolute_url_basket }}" class="btn btn-danger">Удалить</a>
                                </div>
                            </div><br>
                        {% endfor %}

                    </div>
                    <br>


                    {% if queryset %}
                        <div>
                            <a href="{% url "ordering_url" %}" class="btn btn-success">Оформить заказ</a>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-6">
                <div style="">
                    <img id="" src="{% static "media/images/image1.jpg" %}" alt="" title="" class="image-responsive"
                         style="width: 100%;">
                </div>
            </div>
        </div>
    </div>










{% endblock %}
