{% load static %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Hornet - Магазан по продаже мотоцыклов и автомобилей
        </title>

        <!-- jquery 2.2.0 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <!-- отображает значек на вкладке свйта -->
        <link rel="shortcut icon" href="{% static 'media/images/favicon1.png' %}" type="image/png"/> <!--Какртинка для title-->

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <!--footer-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <!-- static - styles.css, наш фаил со стилями должен быть ниже стилей bootstrap. что бы в нашем можно было переопредилить-->
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous">
        </script>

    </head>

    <body>


        <!-- Navbar -->

        <nav class="navbar navbar-default navbar-top" style="padding: 0; background-color: #3D434A">
            <div style="margin-left: 90%">

        <!-- Authenticated -->
                {% if user.is_authenticated or request.user.is_staff  %} <!-- если юзер авторизован или юзер админ, то отображать -->
                    <a style="color: #00aced" href="/admin">User: {{ user }} </a>
                    <a style="color: #993300" href="/accounts/logout?next=/accounts/login">Log out</a>
                {% else %}
                    <a style="color: #993300" href="/accounts/login?next=/accounts/logout">Sing in</a>
                {% endif %}
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display: block;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" title="Home" href="#"></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" title="Мой блог" href="{% url "landing" %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url "landingauto" %}">Auto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "landing" %}">Bike</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Used cars
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url "create_car_url" %}">Add advertisement for sale</a>
                            <a class="dropdown-item" href="{% url "list_new_auto_url" %}">View sale advertisement</a>
                        </div>
                    </li>
                </ul>


                <div style="position: relative">

                </div>
                <ul class="navbar-nav mr-10 mt-0 mt-lg-0" >
                    <li class="" style="">
                        <div class="basket-container" style="position: absolute; left: 77%; top: 20%;">
                            <a href="#" style="color: white">
                            <img id="basket" src="{% static "media/images/cart.png" %}" alt="" title="Basket" class="image-responsive"
                                     style="width: 13%;">
                                <!-- сласс hidden в 4 бутстрп d-none, по умолчанию скрыто -->
                                    <div id="basket-item" class="basket-item d-none" style="position: absolute; background-color: #3E434A;
                                                            left: 10px; top: 45px; padding: 15px; width: 300px; z-index: 5;">
                                        <ul class="basket" >

                                        </ul>
                                </div>
                            </a>
                        </div>

                    </li>
                </ul>

                <form action="" method="get" class="form-inline my-2 my-lg-0" style="">
                        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>

        </div>

        </nav>



        <script src="{% static "products/js/script.js" %}"></script>




            {% block under %}{% endblock %}

            {% block carousel %}{% endblock %}

            {% block content %}{% endblock %}

            {% block card_bike %}{% endblock %}

            {% block pagination %}{% endblock %}

            {% include "pagination.html" %}




    <!-- Footer -->
        <div class="content"></div>
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="logo"><a href="#"> Hornet </a></h2>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Downloads</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#">Company Information</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btn btn-default">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2018 Copyright Text </p>
            </div>
        </footer>








    </body>
</html>